.fourth-section{
  height: 88vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.projects-left{
  background: #065A39;
  width: 100%;
  height: 100%;
  color: white;
  font-family: roboto;
  padding: 5%;
  padding-bottom: 0;
  padding-top: 8%;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;

  position: relative;
}

.projects-left>h4{
  font-size: 70px;
  font-weight: lighter;
  margin-bottom: 5%;
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;

}

.projects-text{
  font-size: 16px;
  width: 60%;
  margin-bottom: 5%;
  text-align: justify;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;

}

.project-btns{
  width: 50%;
  display: -ms-grid;
  display: grid;
  gap: 5%;
  height: 7%;
  grid-auto-flow: column;
}

.project-btns>button{
  border: none;
  outline: none;
  font-weight: bold;
  width: 90%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: roboto;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
  cursor: pointer;
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;

}

.active-project{
  box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.4);
  color: #065A39 !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
  -webkit-box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.4);
}

.projects-right{
  padding-left: 5%;
  padding-right: 5%;
  height:100%;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  gap: 7.5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 60% 30%;
      grid-template-rows: 10% 60% 30%;
}



.projects-right>h4{
  font-size: 30px;
  font-family: roboto;
  color: rgba(0,0,0,0.4);
  margin-bottom: 5%;
  -webkit-transform-origin: right;
          transform-origin: right;
  position: relative;
  margin-top: 5%;
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

.project-image-bg{
  width: auto;
  max-width: 30em;
  display: -ms-grid;
  display: grid;
  margin: auto;
  height: 100%;
  max-height: 25em;
  justify-self: center;
  margin-bottom: 4%;
  position: relative;
}

.project-image-bg::after{
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100%;
}

.image-selector{
  display: -ms-grid;
  display: grid;
  position: relative;
  grid-auto-flow: column;
  height: 5em;
  background-color: rgba(0,0,0,0.2);

}

.image-selector>img{
  height: 5em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-container{
  position: relative;
}

.cover{
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: right;
          transform-origin: right;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}


@media screen and (max-width: 800px) {
  .fourth-section{
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    height: auto;
  }
  .projects-left{
    height: 35em;
    padding-bottom: 10%;
  }
  .projects-text{
    text-align: left;
    width: 90%;
    font-size: 20px;
  }
  .project-btns{
    width: 70%;
    height: 8%;
  }
  .projects-right{
    padding-bottom: 0%;
    padding-left: 0;
    gap: 2%;
  }
  .image-container{
    width: 100vw;
    display: grid;
    place-items: center;
  }
  .image-selector{
    width: 100vw;
  }
  .project-image-bg{
    width: 100%;
    margin: 0;
  }
  .projects-right>h4{
    height: 3em;
    padding-bottom: 7em;
    padding-left: .5em;
  }
}

@media screen and (max-width: 493px) {
  .projects-left{
    height: 40em;
    padding-bottom: 2em;
  }
}

@media screen and (max-width: 353px) {
  .projects-left{
      height: 45em;
  }
  .project-btns{
    height: 6%;
    width: 91%;
  }
}

@media screen and (max-width: 353px) {
  .projects-left{
      height: 49em;
  }
}