
.ha-left>h3{
    color: #065A39;
}

.hero-about{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 55% 45%;
        grid-template-columns: 55% 45%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    font-family: roboto;
}

.hero-about>*{
    width: 100%;
    height: 30em;
}

.ha-left{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    place-items: center;
    padding: 15%;
}

.ha-left>h3{
    font-size: 40px;
    text-transform: uppercase;
    padding: 0%;
    margin: 0%;
    font-weight: bold;
    margin-bottom: 3%;
}

.ha-left>p{
    font-size: 18px;
    width: 80%;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
}

.about-btn{
    color: #065A39;
    background: transparent;
    width: 7em;
    height: 3em;
    font-size: 18px;
    border: 1.5px solid #065A39;
    margin-top: 4%;
}

.ha-right{
    background-image: url("../../assets/wires.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .ha-right{
        display: none;
    }
    .second-section{
        height: 100% !important;
    }
    .hero-about{
        -ms-grid-columns: 100%;
            grid-template-columns: 100%;
    }
    .ha-left{
        padding: 5%;
        padding-top: 15%;
        padding-bottom: 15%;
    }
  }