header{
    width: 100vw;
    height: 19vh;
    display: grid;
    align-items: center;
    grid-template-rows: 100%;
    gap: 0;
    padding-left: 8%;
    position: fixed;
    top:0;
    z-index: 3;
    grid-template-columns: 90% 10%;
}

.logo{
    width: 5.2em;
    height: 90%;
    background-image: url("../../assets/logo.jpeg");
    background-size: cover;
    display: grid;
    place-items: center;
    background-repeat: no-repeat;
    color: white;

    font-weight: bold;
    position: relative;
    z-index: 5;
}

.hj {
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.hamburg {
  display: flex;
}

.hj,
.top,
.middle,
.bottom {
  transition: all 0.3s ease-in-out;
}

.hamburg.active .hj .top,
.hj:focus .top {
    transform: rotate(45deg);
    transform-origin: center top;
    x: 37.5px;
    y: 26.25px;
}

.hamburg.active .hj .middle,
.hj:focus .middle {
    opacity: 0;
    x: 0;
}


.rect{
  fill: white;
}

.hamburg.active .hj .bottom,
.hj:focus .bottom {
    transform: rotate(-45deg);
    transform-origin: center top;
    x: -15px;
    y: 18.75px;
}
