header {
  width: 100%;
  height: 19vh;
  display: grid;
  align-items: center;
  padding-left: 8%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  grid-auto-flow: column;
  grid-template-columns: 85% 15%;
}

.logo {
  width: 5.2em;
  height: 90%;
  background-image: url("../../assets/logo.webp");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
  position: relative;
  z-index: 5;
  transition: all 0.9s cubic-bezier(0.17, 0.55, 0.55, 1) 0.5s;
}

.logoshift {
  transition: all 0.9s cubic-bezier(0.17, 0.55, 0.55, 1) 0.5s;
}

.hj {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
}

.hamburg {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
}
.hj,
.top,
.middle,
.bottom {
transition: all 0.3s ease-in-out;
}

.hamburg.active .hj .top,
.hj:focus .top {
  transform: rotate(45deg);
  transform-origin: center top;
  x: 37.5px;
  y: 26.25px;
}

.hamburg.active .hj .middle,
.hj:focus .middle {
  opacity: 0;
  x: 0;
}


.rect{
fill: white;
}

.hamburg.active .hj .bottom,
.hj:focus .bottom {
  transform: rotate(-45deg);
  transform-origin: center top;
  x: -15px;
  y: 18.75px;
}


@media screen and (max-width: 800px) {
  .logo {
    width: 5.2em;
    height: 78%;
  }
  .hamburg {
    transform: scale(1.2);
  }

  header {
    padding-left: 0;
  }
}

@media screen and (max-width: 375px) {
  .logo {
    width: 5.8em;
    height: 78%;
  }

}

@media screen and (max-width: 351px) {
  .logo {
    width: 5.2em;
    height: 76%;
  }
  .hamburg {
    transform: scale(1.3);
  }
}

