@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  overflow-x: hidden;
  position: relative;
}

#root>*{
  overflow-x: hidden;
}

.first-section{
  position:relative;
  color: white;
  width: 100vw;
  height: 100vh; 
  -webkit-transition: .5s all ease;
  transition: .5s all ease;

}

.second-section{
  height: 80vh;
  width: 100vw;
  overflow: hidden;
}

.first-section::before{
  content: " ";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}


html{
  scroll-behavior: smooth;
}

.services{
  display: -ms-grid;
  display: grid;
  width: 100%;
  place-items: center;
}

.services-inner{
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: auto;
  grid-auto-flow: row;
  place-items: center;
  margin-bottom: 5em;
  gap: 8em;
  width: 100%;
  padding: 3em;
}

.service-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 30em;
  grid-auto-flow: column;

}



.service-image{
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
}

.service-text{
  padding: 10%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-family: roboto;
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 1em;
  color: rgba(0, 0, 0, 0.8);
}

.service-title{
  font-size: 35px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: bold;
}

.service-second{
  justify-self: end;
}


/* 
About us */

.about-container{
  display: -ms-grid;
  display: grid;
  width: 80%;
  font-size: 18px;
  text-align: justify;
  place-items: center;
  margin: auto;
  margin-bottom: 10%;
  font-family: roboto;
  line-height: 1.5;
  gap: 1em;
}



/* contact us */


.contact-section{
  display: -ms-grid;
  display: grid;
  height: auto;
}
.contactp-container{
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 70% 30%;
  height: 44em;
  padding-top: 0;
}

.contact-left{
  width: 100%;
  padding-left: 12%;
  font-family: roboto;
  font-size: 18px;
  margin-top: 0;
}

.contact-form>*{
  height: 3.5em;
}

.contact-header{
  font-size: 45px;
  font-weight: bold;
  width: 80%;
  margin-bottom: 10%;
}

.contact-header>span{
  font-weight: lighter;
}

form{
  display: -ms-grid;
  display: grid;
  gap: 10%;
  height: auto;
}

form>*{
  display:-ms-grid;
  display:grid;
  gap: 0em;
}

label{
  display: block;
  color: rgba(0, 0, 0, 0.8);
}

a{
  color: white;
  text-decoration: none;
}

input, textarea{
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 80%;
  font-size: 18px;
  font-family: roboto;
  color: rgba(0, 0, 0, 0.8);

}

input:focus, textarea:focus{
  border-bottom: 1px solid royalblue;
}

textarea{
  padding-top: 5%;
}

.fourth-row{
  height: 9em;
}

.contact-button{
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: none;
  outline: none;
  width: 80%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.contact-button:hover{
  background-color: black;
  color:white;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;

}

.gap{
  display: block;
  height:10em;
}



@media screen and (max-width: 800px) {
  .services-inner{
    gap: 4em;
  }
  .service-item{
    display: grid;
    grid-template-rows: 60% 40%;
    height: 40em;
    place-items: center;

  }
  .service-item>*{
    width: 90%;
  }
  .service-title{
    font-size: 25px;
  }
  .service-text{
    padding: 3%;
    gap: .7em;
    padding-top: 0;
  }
  .service-second>.service-text{
    order: 2;
  }
  .service-fourth>.service-text{
    order: 2;
  }
}

@media screen and (max-width: 510px) {
  .service-item{
    height: 30em;
    grid-template-rows: 50% 40%;
    gap: 10%;
  }
}

@media screen and (max-width: 452px) {
  .service-text{
    grid-template-rows: 50% 40%;
    gap: 10%;
  }
  .service-item{
    padding-bottom: 5em;
  }
}

@media screen and (max-width: 390px) {
  .service-item{
    padding-bottom: 7em;
    height: 35em;
  }
}

@media screen and (max-width: 491px) {

  .contactp-container{
    grid-template-columns: 80% 20%;
  }
  .contact-header{
    width: 100%;
  }
}