nav{
    display: grid;
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    transform: scale(1, 0);
    left: 0;
    z-index: 3;
    transition: all 0.3s ease-in-out;
    transform-origin: bottom;
    place-items: center;
    font-family: roboto;
    font-weight: bold;
}

.openNav{
    transform: scale(1, 1);
    transition: all 0.3s ease-in-out;
}

ul{
    font-size: 50px;
}

li{
    list-style-type: none;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 0;
    margin-bottom: 1%;
    height: 50px;
    display: block;
    padding-top: 50px;
    overflow: hidden;
}

li:hover{
    transition: all 0.3s ease-in-out;
    color: rgba(255, 255, 255, 1)
}

